html,
body {
  margin: 0;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22a6b3;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 2;
}

.ground-control {
  border: 3px solid rgba(34, 166, 179, 0.178);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

h4 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.launcher-btn {
  background-color: #7ed6df;
}

.launcher-btn:hover {
  background-color: #22a6b3;
}

.engine-btn { 
  background-color: rgba(126, 214, 223, 0.575);
}

.engine-btn:hover {
  background-color: rgba(34, 166, 179, 0.575);
}

.data-btn {
  background-color: rgba(126, 214, 223, 0.415);
}

.data-btn:hover {
  background-color: rgba(34, 166, 179, 0.415);
}

.fa-space-shuttle {
  font-size: 3rem;
  color: #22a6b3;
  transform: rotate(-90deg);
  text-shadow: 3px 3px 10px #5a3811;
}

#rockets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .operations {
    grid-template-columns: 1fr;
  }
}
