body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../style/background_tools.jpeg");
    background-blend-mode: multiply;
    background-color: #405872;
    background-size: cover;
    user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
}

h1 {
    color: white;
}

form {
    background-color: white;
    padding: 1.5rem;
}

#idDivPrintInfo {
    background-color: white;
}
